.container-pokemons {
  max-width: 1024px;
  margin: 30px auto;
}

.Pokemon {
  text-align: center;
  display: inline-block;
  width: 180px;
  height: 180px;
  padding: .5em;
  margin: 0 20px 20px;
  background: #263238;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #EF5350;
}

.Pokemon:nth-child(3n) {
  margin-right: 0;
}

.Pokemon-avatar {
  padding: 0;
  margin: 30px 0 0;
}

.Pokemon-info {
  color: #FFF;
}

.Pokemon-info > h3 {
  padding: 0;
  margin: 0;
}
